{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <h2>Tide Gauge Readings</h2>
      <p class="text-muted">
        Browse data from the UK National Tide Gauge Network,
        owned and operated by the <a href="https://www.gov.uk/government/organisations/environment-agency">Environment Agency</a>,
        on behalf of the UK Coastal Flood Forecasting service
        (a partnership between the Environment Agency,
        Natural Resources Wales,
        the Scottish Environment Protection Agency
        and Northern Ireland Department for Infrastructure – Rivers).
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      {% include "partials/map.html" %}
    </div>
    <div class="col-sm-6">
      {% include "partials/user-preferences.html" %}
      {% include "partials/search-results.html" %}
      {% include "partials/station-details.html" %}
    </div>
  </div>

</div>

{% include "partials/api-details-modal.html" %}
{% endblock %}
