<div class="container logo-row">
  <div class="row">
    <div class="col-sm-12">
      <div class="">
        <div class="c-footer-credits">
          <h4 class="">UK National Tide Gauge Partners</h4>
          <a href="">
            <img alt='Environment Agency logo' class='logobar-brand--img' src='images/logo/ea-logo-green.png'>
          </a>
          <a href="https://www.infrastructure-ni.gov.uk/">
            <img alt='Environme' class='logobar-brand--img' src='images/logo/DFI.png' srcset='images/logo/DFI.svg'>
          </a>
          <a href="https://naturalresources.wales/">
            <img alt='Natural Resources Wales' class='logobar-brand--img' src='images/logo/NRW.jpg' />
          </a>
          <a href="https://www.sepa.org.uk/">
            <img alt='Scottish Environment Protection Agency' class='logobar-brand--img' src='images/logo/SEPA.jpg' />
          </a>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
